<hr>
<footer class="footer">
  <div class="footer-social">
    <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
      <img src="/images/facebook.webp" alt="Facebook" class="social-icon">
    </a>
    <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
      <img src="/images/twitter.webp" alt="Twitter" class="social-icon">
    </a>
    <a href="https://www.instagram.webp" target="_blank" aria-label="Instagram">
      <img src="/images/instagram.webp" alt="Instagram" class="social-icon">
    </a>
  </div>

  <p>© <%= new Date().getFullYear() %> Calvary Christian College. All rights reserved.</p>
</footer>
