<%- include('../layout', { body: `
  <div class="academics-container">
    <h2>Academics Dashboard</h2>
    <p>Welcome to the Academics Management Panel. Choose an action below:</p>
    <div class="dashboard-actions">
      <a href="/academics/list" class="btn-primary">View Courses</a>
      <a href="/academics/add" class="btn-primary">Add New Course</a>
    </div>
  </div>
` }) %>
