<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: title }) %>
<body>
  <%- include('partials/header') %>
  <main>
    <h1>Academics Dashboard</h1>
    <ul>
      <% academics.forEach(ac => { %>
        <li><%= ac.title %></li>
      <% }); %>
    </ul>
    <a href="/academics/add">Add New</a>
  </main>
  <%- include('partials/footer') %>
</body>
</html>