<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: title }) %>
<body>
  <%- include('partials/header') %>
  <main>
    <h1>Academics Dashboard</h1>
    <p>Explore our programs organized by level. Click on a program to view details.</p>
    <h2>Level 1 Programs</h2>
    <ul>
      <li><a href="/academics/level-1-certificate-in-christian-discipleship">Level 1 Certificate in Christian Discipleship</a></li>
    </ul>
    
    <h2>Level 2 Programs</h2>
    <ul>
      <li><a href="/academics/level-2-diploma-in-christian-leadership">Level 2 Diploma in Christian Leadership</a></li>
      <li><a href="/academics/level-2-certificate-in-theology">Level 2 Certificate in Theology</a></li>
      <li><a href="/academics/level-2-certificate-in-biblical-studies">Level 2 Certificate in Biblical Studies</a></li>
    </ul>
    
    <h2>Level 3 Programs</h2>
    <ul>
      <li><a href="/academics/level-3-advanced-diploma-in-ministry">Level 3 Advanced Diploma in Ministry</a></li>
      <li><a href="/academics/level-3-diploma-in-theology">Level 3 Diploma in Theology</a></li>
      <li><a href="/academics/level-3-diploma-in-biblical-studies">Level 3 Diploma in Biblical Studies</a></li>
      <li><a href="/academics/level-3-diploma-in-business-leadership">Level 3 Diploma in Business Leadership</a></li>
    </ul>
    
    <h2>Level 4 Programs</h2>
    <ul>
      <li><a href="/academics/level-4-higher-diploma-in-shepherding">Level 4 Higher Diploma in Shepherding</a></li>
    </ul>
    
    <h2>Level 5 Programs</h2>
    <ul>
      <li><a href="/academics/level-5-bachelor-of-ministry">Level 5 Bachelor of Ministry</a></li>
    </ul>
    
  </main>
  <%- include('partials/footer') %>
</body>
</html>