<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: title }) %>
<body>
  <%- include('partials/header') %>
  <main>
    <h1>Add Academic</h1>
    <form action="/academics/add" method="POST">
      <label>Title:</label>
      <input name="title">
      <button>Submit</button>
    </form>
  </main>
  <%- include('partials/footer') %>
</body>
</html>